In [195]:
import googlemaps
import pandas as pd

In [196]:
gmaps = googlemaps.Client(key='AIzaSyBUA_o4n7WjFJI9AoXXXnp8GCUzcyk36X4')

In [203]:
def getPlaceWithReviews(list):
    a = [p for p in list['results'] if 'reviews' in gmaps.place(p['place_id'])['result'].keys()]
    return a

def retrieveInformation(pl_with_rev):
    names = []
    total_users_rating = []
    ratings = []
    texts = []
    for place in pl_with_rev:
        place_id = place['place_id']
        info_result = gmaps.place(place_id=place_id)['result']
        reviews = info_result['reviews']
        for r in reviews:
            names.append(info_result['name'])
            total_users_rating.append(info_result['rating']) 
            ratings.append(r['rating'])
            texts.append(r['text'])
    return pd.DataFrame({'names':names, 'overall rating': total_users_rating, 'rating':ratings, 'text':texts})

In [204]:
place_result = gmaps.places_nearby(location='40.416704, -3.703599', radius=40000, type='cafe')
places_with_reviews = getPlaceWithReviews(place_result)

In [205]:
df1 = retrieveInformation(places_with_reviews)

In [208]:
df1

,names,overall rating,rating,text
0,Petit Palace Chueca,4.4,5,I really liked staying at this hotel. The room...
1,Petit Palace Chueca,4.4,5,"Very pleasant, inexpensive hotel right off Gra..."
2,Petit Palace Chueca,4.4,5,Great experience!!\nThe view of the hotel is a...
3,Petit Palace Chueca,4.4,1,"Worst hotel I ever stayed in. Rooms are noisy,..."
4,Petit Palace Chueca,4.4,5,"Game changer! Welcome back, hotels; see you so..."
...,...,...,...,...
95,East 47 Restaurant-Bar,4.4,5,Upscale restaurant.\nGreat dishes and good ser...
96,East 47 Restaurant-Bar,4.4,5,Pricey but tasty food and great service. We ha...
97,East 47 Restaurant-Bar,4.4,5,We tried 7 dishes on the menu. They have new T...
98,East 47 Restaurant-Bar,4.4,5,Our experience in this restaurant was SO GOOD!...
99,East 47 Restaurant-Bar,4.4,5,Excellent quality food. Inventive twist on the...

In [209]:
place_result = gmaps.places_nearby(page_token=place_result['next_page_token'])
places_with_reviews = getPlaceWithReviews(place_result)

In [210]:
df2 = retrieveInformation(places_with_reviews)

In [211]:
df2

,names,overall rating,rating,text
0,Aqui Pan... y después gloria,4.2,5,So if you are in Plaza Mayor and need a coffee...
1,Aqui Pan... y después gloria,4.2,4,Great breakfast options :)
2,Aqui Pan... y después gloria,4.2,3,The croissant was rich. I had a problem with t...
3,Aqui Pan... y después gloria,4.2,1,I bought a salad to go. The lettuce was dry (4...
4,Aqui Pan... y después gloria,4.2,5,Very good coffee and diverse offer for breakfa...
...,...,...,...,...
84,La Rollerie,4.2,4,Recommended by the hotel staff. Came here for ...
85,La Rollerie,4.2,4,Very nice looking (and pretty big) interior wi...
86,La Rollerie,4.2,5,"Simple, delicious, fast, very good VFM.\nWe at..."
87,La Rollerie,4.2,5,Came for cafe con leche here and it was indeed...
88,La Rollerie,4.2,3,Definitely overrated!\n\nJust count on simple ...

In [212]:
final = pd.concat([df1, df2])

In [213]:
final

,names,overall rating,rating,text
0,Petit Palace Chueca,4.4,5,I really liked staying at this hotel. The room...
1,Petit Palace Chueca,4.4,5,"Very pleasant, inexpensive hotel right off Gra..."
2,Petit Palace Chueca,4.4,5,Great experience!!\nThe view of the hotel is a...
3,Petit Palace Chueca,4.4,1,"Worst hotel I ever stayed in. Rooms are noisy,..."
4,Petit Palace Chueca,4.4,5,"Game changer! Welcome back, hotels; see you so..."
...,...,...,...,...
84,La Rollerie,4.2,4,Recommended by the hotel staff. Came here for ...
85,La Rollerie,4.2,4,Very nice looking (and pretty big) interior wi...
86,La Rollerie,4.2,5,"Simple, delicious, fast, very good VFM.\nWe at..."
87,La Rollerie,4.2,5,Came for cafe con leche here and it was indeed...
88,La Rollerie,4.2,3,Definitely overrated!\n\nJust count on simple ...

In [214]:
df1.loc[df1.rating < 5]

,names,overall rating,rating,text
3,Petit Palace Chueca,4.4,1,"Worst hotel I ever stayed in. Rooms are noisy,..."
6,Café Gijón,3.6,1,Whilst walking saw this place so stopped for a...
7,Café Gijón,3.6,1,Having known this place back in 1970's I recom...
9,Café Gijón,3.6,1,"Awful. The service is bad, air smokey, and foo..."
10,Costello club,4.1,3,"It's a good place for live music, but it is al..."
11,Costello club,4.1,1,"It is not a place for concerts, the room is do..."
12,Costello club,4.1,4,"Rock and cocktails, nice place for a drink bef..."
13,Costello club,4.1,4,Cool club in Madrid. Very good for an easy dri...
14,Costello club,4.1,3,"Nice place to be, if not crowded, which happen..."
20,La Llave de Oro,4.5,4,I we stayed at Wellington Hotel last month. I ...
22,La Llave de Oro,4.5,4,Very nice rooms and cross fit room. Nice hotel...
24,La Llave de Oro,4.5,4,"Friendly and helpful staff, beautiful entry, w..."
25,Restaurante Rias Altas,3.6,1,Awful place to eat. The only thing good was th...
26,Restaurante Rias Altas,3.6,1,"I stepped in, the waiter simply decided to ign..."
27,Restaurante Rias Altas,3.6,4,Very good Paella Marinera and Caldo Gallego.\n...
28,Restaurante Rias Altas,3.6,1,Our targeted restaurant was not open and it wa...
31,Café Bar Hylogui,4.2,4,"Cosy location, friendly service, English menu’..."
36,El Jardín Secreto,4.3,4,We came here by chance and everything is just ...
38,El Jardín Secreto,4.3,4,"A fairy-tale like, cozy place that makes you f..."
39,El Jardín Secreto,4.3,4,"A wonderful find in one of Madrid’s corner, th..."
40,Café de la Luz,4.3,3,Mixed feelings. I was looking for a nice place...
41,Café de la Luz,4.3,4,Wonderful cozy little place! Perfect for a dri...
42,Café de la Luz,4.3,4,Lovely cafe with extraordinarily great and tas...
43,Café de la Luz,4.3,1,Ordered for iced coffee with milk and they bro...
44,Café de la Luz,4.3,2,Cozy spot but even though the place was 75% em...
45,Café Central,4.1,4,In this cafe inside seating as well as outside...
47,Café Central,4.1,1,Came here at lunch. Kitchen was closed between...
48,Café Central,4.1,4,Great Cuban jazz band. Great warm atmosphere. ...
50,La Mejor Tarta de Chocolate del Mundo,4.0,4,I don’t if it’s the best chocolate cake of the...
51,La Mejor Tarta de Chocolate del Mundo,4.0,4,"The place serves mainly chocolate cakes, with ..."
52,La Mejor Tarta de Chocolate del Mundo,4.0,4,"Cozy, welcoming, specialized cafe. Few steps f..."
54,La Mejor Tarta de Chocolate del Mundo,4.0,2,"Stating the obvious, expectations were high, g..."
55,Varela Café,4.4,4,Cafe Varela is an old classic in a neighbourho...
56,Varela Café,4.4,2,Never had blander food in life…\nJust finished...
60,Starbucks,3.8,1,"We are from Miami , United States\nVisited Spa..."
62,Starbucks,3.8,2,"As always, many drinks with some liquid, milk ..."
64,Starbucks,3.8,4,"Good central location, we found a nice place n..."
69,J & J Books and Coffee,4.5,4,Cozy to the point of almost being cramped - th...
71,Starbucks,3.8,4,"solid location, big and clean near the Prado M..."
72,Starbucks,3.8,1,"One of the worst Starbucks ever, or probably T..."
73,Starbucks,3.8,4,We had breakfast at this branch in Madrid a fe...
74,Starbucks,3.8,2,A lot of broken furniture. Be careful here.\nT...
75,DUNKIN´ESPAÑA,3.7,4,It is good for its purpose: you can taste the ...
76,DUNKIN´ESPAÑA,3.7,2,"NO WI-FI! NO Wall plugs, past century owner's ..."
77,DUNKIN´ESPAÑA,3.7,4,Donuts were similar to our Dunkin donuts in th...
78,DUNKIN´ESPAÑA,3.7,4,"A little expensive, but it was worth it! Moreo..."
82,Pastelería Mallorca,4.1,4,Love the place. Our waitress was so friendly a...
83,Pastelería Mallorca,4.1,2,The roscon de reyes was very bland and extreme...
85,Starbucks,3.9,4,Starbucks. One of the awesome baristas from th...
87,Starbucks,3.9,4,Not a big branch and not much to say about it ...
89,Starbucks,3.9,1,"I can’t begin to say how rude the staff were, ..."
90,Estación de servicio Cepsa PUENTE SEGOVIA,3.3,1,I'm on a motorcycle and to refuel you have to ...
92,Estación de servicio Cepsa PUENTE SEGOVIA,3.3,1,Today being 9:30 p.m. and opening hours at 10 ...
93,Estación de servicio Cepsa PUENTE SEGOVIA,3.3,1,The employee of today late with a bad mood and...

In [217]:
final.loc[final.names == 'Petit Palace Chueca'].rating.mean()

4.2

In [220]:
final.names.value_counts()

Starbucks                                    20
La Rollerie                                  10
Petit Palace Chueca                           5
Rodilla                                       5
Dixie                                         5
Portosin                                      5
HanSo Café                                    5
Astoria                                       5
Restaurante Los Ángeles                       5
Café Carmen 17 Bistro                         5
Café Gijón                                    5
El Corte Inglés Edificio 4 (Mascotas)         5
Garden of Salvador Bachiller                  5
Secret Rooftop Garden                         5
El Corte Inglés                               5
Celicioso Callao                              5
Aqui Pan... y después gloria                  5
East 47 Restaurant-Bar                        5
Estación de servicio Cepsa PUENTE SEGOVIA     5
Pastelería Mallorca                           5
DUNKIN´ESPAÑA                                 5
J & J Books and Coffee                        5
Varela Café                                   5
La Mejor Tarta de Chocolate del Mundo         5
Café Central                                  5
Café de la Luz                                5
El Jardín Secreto                             5
Café Bar Hylogui                              5
Restaurante Rias Altas                        5
La Llave de Oro                               5
Chocolatería San Ginés                        5
Costello club                                 5
Amorino                                       5
Mas Que Café                                  4
Name: names, dtype: int64